* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #121414;
  --shape: #1f2729;

  --white: #ffffff;
  --title: #e1e1e6;
  --text: #cbd5e0;

  --yellow: #eba417;
  --blue: #61dcfb;
  --green: #04d361;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--background);
  color: var(--title);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
