.container {
  max-width: 1180px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  h1 {
    font-size: 4rem;
    color: var(--white);
    max-width: 640px;
    margin-top: 3rem;
    line-height: 5rem;
  }

  button {
    margin-top: 8.75rem;
  }
}
